{% load crispy_forms_tags %}
{% block content %}
{% load static  %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"  content=" login fvck covid, fuck covid,lockdown,people,world,flu,share,comment,laugh,cry,like, lockdown stories">
    <meta name="description" content="Login Share your  covid stories with the world,see what other people are going through, tell us your tale">
    <title>Fvck covid Signup</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'blog/register.css' %}">
    <link rel="shortcut icon" href="../icons/shortcuticon.png">
</head>

<body>
    <!--Main container-->
    <div class="container">
        <!--Info container contains images and description of fuck covid-->
        <div class="info-container" style= "background-image: url('{% static "blog/images/united-nations-covid-19-response-fmhZecom1b8-unsplash.jpg" %}');" >
         <!--   <video src="../videos/201202_01_Oxford Shoppers_4k_050.mp4" autoplay muted loop></video> -->
        
        
            <div class="sub-div1">
                <h3>Tell Us Your Story <span>#TUYS</span></h3> 
                

            </div>
            <!--Logo and Title container-->

            <div class="box-logo">
                <h3>FVCK COVID</h3>
                

            </div>
            <div class="sub-div2">
                <p id="text">Share your stories and explore the social experiences of others. Share your Feelings..</p>
                <div class="boxes">
                    <p>
                        So my oldest brother Ethan doesn’t like wearing pants while at home, he wears boxers (because he’s a gentleman) but REFUSES to wear pants.

                        So one day we’re all just chilling on the couch when Ethan comes in wearing his boxers. My younger brother Eric asks if he can take off his pants too and Ethan says yeah, just make sure you have clean underwear on.

                        Eric leaves the room, goes upstairs, comes back 3 or 4 minutes later without pants in my underwear, and not just any underwear; Victoria’s Secret, MY VICTORIA’S SECRET (only girl in the family).

                        Ethan is laughing his ass off, Nate (next oldest brother) is rolling on the floor, and I’m just sitting there like WTF.
                    </p>
                    <p>
                        Not long ago, our 3-year-old great-grandson was saying a prayer at dinnertime. He said, “Thank you, Lord, for our food and Grandpa and Grandma and Mama and …” At this point, he wrinkled up his face in deep thought and then, with his eyes still closed, said, “And thank you for people with brains!” He was a little surprised when we all busted out laughing!
                        Steva Davis, Colorado Springs
                    </p>
                    <p>
                        Mostly, though, people of good will stayed inside and apart when they could, and the jokes were to be found on screens, maybe shared with those locked in with us, but better enjoyed alone, with our feeds. There was a sharp break from the lonely-together gloom on Saturday, November 7th, around noon, when the election was called—people joined up (too close for comfort in many instances) to shout and dance and sing
                        Michaela Coel’s series “I May Destroy You,” about a young writer in London wrestling with the practical and emotional fallout of a sexual assault, is no less devastating than its log line suggests, but it is also surprising, invigorating, and funny. Coel, who is the show’s creator and writer, gives a dynamo lead performance as Arabella; she starts out as a wall of wit and cool before collapsing into insecurity and doubt. She is also, despite her recklessness and flair, something of a nerd, as we learn during a flashback to Ostia, Italy, where she and her friend Terry (Weruche Opia) are enjoying a weekend on Arabella’s publisher’s dime. Out at a club, Arabella, who is on a cocktail of drugs, begs the bored Terry to stay a bit longer. Having already bugged the d.j.s, she promises, “They’re gonna play ‘Hamilton,’ the musical! ”


                    </p>
                    <p>
                        I went to this girl’s party the week after she beat the shit out of my friend. While everyone was getting trashed, I went around putting tuna inside all the curtain rods and so like weeks went by and they couldn’t figure out why the house smelled like festering death. They caught me through this video where these guys at the party were singing Beyoncé while I was in the background with a can of tuna.
                    </p>
                    <p>
                        So my oldest brother Ethan doesn’t like wearing pants while at home, he wears boxers (because he’s a gentleman) but REFUSES to wear pants.

                        So one day we’re all just chilling on the couch when Ethan comes in wearing his boxers. My younger brother Eric asks if he can take off his pants too and Ethan says yeah, just make sure you have clean underwear on.

                        Eric leaves the room, goes upstairs, comes back 3 or 4 minutes later without pants in my underwear, and not just any underwear; Victoria’s Secret, MY VICTORIA’S SECRET (only girl in the family).

                        Ethan is laughing his ass off, Nate (next oldest brother) is rolling on the floor, and I’m just sitting there like WTF.
                    </p>
                    
                </div>
            </div>
            

        </div>
<div class="container">
    <form method="POST" class="col-12 col-md-6 pl-3 pr-3 pl-md-0 pr-md-0">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="mb-3 white-important">
                Register a new account
            </legend>
            {{ form | crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-primary" type="submit">Join the Club</button>
        </div>
    </form>
    <div class="pt-3">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Login In</a>
        </small>
    </div>
         <hr>
            <p class="orparagraph">Join with</p>
            
            <!--Social Media Logins Facebook And Google-->
            <div class="social-logins">
                <a href="" id="google-signup">
                    <div class="google-signup">
                        <img src="https://img.icons8.com/bubbles/50/000000/google-logo.png"/>
                        <p>Google</p>
                    </div>

                </a>  
                <a href="" id="facebook-signup">
                    <div class="facebook-signup">
                        <img src="https://img.icons8.com/bubbles/50/000000/facebook-new.png"/>
                        <p>Facebook</p>

                    </div>
                </a>              
        
            </div>      
</div>
{% endblock content %}