@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Russo+One&family=Spartan:wght@400;500&display=swap');

:root {
    --pinkish: #fd0054;
    --signup-gradient: linear-gradient(to right, rgb(241, 39, 17), rgb(245, 175, 25));
    --inverse-gradient: linear-gradient(to left, rgb(241, 39, 17), rgb(245, 175, 25));
    --poppins: 'Poppins', sans-serif;
    --roboto : 'Roboto', sans-serif;
    --russo: 'Russo One', sans-serif;
    --spartan: 'Spartan', sans-serif;
    --playfair:'Playfair Display', serif;
    --tigerOrange: #cb7119;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: var(--poppins);
}
.container{
    display: flex;
    width: 100%;
    height: 100vh;
}
.info-container{
    width: 60%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    color:#fff;
    height: 100vh;
}
.sub-div1,.sub-div2{
    padding: 15px;
    display: flex;
    justify-content: space-around;
}
.sub-div1 h3{
    font-size: 33px;
}
.sub-div1 h3 span{
    border-bottom: 3px solid #fff;
}

.box-logo{
    width: 250px;
    height: 250px;
    margin: auto;
    background: orange;
    color: #000;
    font-family: var(--playfair);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;      
    
    
}
.box-logo h3{
    font-weight: bold;
    font-size: 70px;     
    
}
.info-container video{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
}
.sub-div2{
    margin-top: 150px;
    
}
.sub-div2 p{
    font-size: 26px;
    text-align: start;
    width: 250px;
    color: #000;
    font-weight: bold;
}
#text{
    margin-left: 30%;
    margin-top: -5%;
}
.boxes{
    float: right;
    margin-right: -10%;
}
.boxes p{
    font-size: 4px;
    margin: 10px;
    margin-left: -10%;
}

.login-container {
    padding: 50px;
    width: 30%;
}
.login-container h3{
    font-size: 33px;
    
}
.login-container input{
    width: 100%;    
    padding:10px 0;
    line-height:20px;
    margin: 25px 0;
    text-align: center;
    background: transparent;
    border: 2px solid gray;
    font-size: 18px;
    
    
    
}
input:focus{
    outline: none !important;
    border:2px solid #007af3;
}
.login-container input::placeholder{

    color:rgba(0, 0, 0, 0.8);
}
#login-button{
    width: 100%;
    padding:10px 0;
    margin-top: 20px;
    line-height:30px;
    font-size: 20px;
    background: linear-gradient(to right, rgb(0, 180, 219), rgb(0, 131, 176));
    color: #fff;
    outline: none;
    border: none;
    
}
#login-button:hover{
    background:rgba(0, 122, 243, 1);    
    font-size: 20px;
    

}
#forgot{
    color: #007af3;
    transition: all 0.3s ease;
}
.forgot-sign-div{
    margin:15px 0;
}
#no-account{
    color: #007af3;
    float: right;
    transition: all 0.3s ease;
}
.forgot-sign-div a{
    text-decoration: none;
    color: #007af3;
}
#have-account span{
    text-decoration: underline;
    transition: all 0.3s ease;
    margin-left: 10px;
}
#have-account span:hover{
    text-decoration: none;
    border-bottom: 2px solid #000;
    padding-bottom: 1px;
    color: #007af3;
}
.orparagraph{
    text-align: center;
    font-size: 17px;
    position: relative;
    
}
hr{
   
    color: blue;
    width: 100%;
}
/*
.social-logins{
    
    display: flex;
    justify-content: space-between;
    margi.orparagraph::before{
        content: "";
        width: 47%;
        height: 3px;
        background: #000;
        position: absolute;
        margin-left: -47.5%;
        margin-top: 12px;
        
    }
    .orparagraph::after{
        content: "";
        width: 50%;
        height: 3px;
        background: #000;
        position: absolute;
        margin-right: -52%;
        margin-top: 12px;
    
    }n: 30px 0;
    
   
}*/ 
.social-logins a{
    text-decoration: none;
    color: #000;
}

.google-signup, .facebook-signup{
    display: flex;
    border: 2px solid gray;
    width: 200px;
    text-align: center;
    padding: 0 10px;
    transition: all 0.6s ease;

}
.social-logins img{
    width: 45px;
    height: 45px;
    margin-top: 10px;
}

.social-logins p{
    font-size: 18px;
    margin-left: 15px;
    
}
.google-signup:hover{
    background: #DB4437;
    color: #fff;
    border: none;
}
.facebook-signup:hover{
    background: #3b5998;
    color: #fff;
    border: none;

}

